/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    
    .hero_content h1{
        font-size: 42px;
        line-height: 55px;
    }
    .online-coures .cards h4{
        font-size: 20px;
    }
    a.btn_custom{
        padding: 15px 24px;
    }
    
}

    




@media only screen and (max-width: 991px) {
    .hero_content h1{
        font-size: 32px;
        line-height: 45px;
    }
    .footer p, .footer ul{
        font-size: 18px;
    }
}



@media only screen and (max-width: 575px) {

    .phBox{
        flex-direction: column;
        text-align: center;
    }
    .phBox img{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .hero-section{
        height: 100%;
    }
    .hero_content h1 {
       
        font-size: 32px;
        line-height: 40px;
    }
    .hero_content p {
       
        font-size: 15px;
        line-height: 30px;
    }
    
}